
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    #pageTitle {
        padding: 1em;
    }

    #logout {
        margin: 2em;
    }

    .loginSection {
        margin: 2em 12em;

        .loginPageForm {

        }
    }
}