* {
    margin: 0;
    padding: 0;
}

div {

    .allShows {
        margin-left: 4em;
        margin-bottom: 2em;

        table {
            border-collapse: collapse;
            width: 95%;
            margin-top: 2em;
            margin-bottom: 2em;
            border: 1px solid #ddd;

            th, td {
                text-align: left;
                padding: 0.5em;
            }

            tr:nth-child(even) {
                background-color: #f2f2f2;
            }

            th {
                background-color: #818181;
                color: white;
            }
        }
    }
}